body {
    padding: 10px;
    font-weight: 600;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
}

.nav-link, .nav-item{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
}

.form-control{
    width: 80%;
    font-size: larger;
    margin-bottom: 20px;
    border: 2px solid rgb(176, 174, 174);
}