{% extends "auctions/layout.html" %}

{% block style %}

<style>
      .des{
         margin-top: 0px;
         margin-left: 10%;
      }
      img{
        image-rendering: auto;
        max-width: 500px;
        max-height: 400px;
        padding: auto auto auto auto;
      }
      .bidd{
         margin-top: 40px;
         width: 357px;
         color: #1423b7;
      }
</style>

{% endblock %}

{% block warning %}
   {% if res == "Low" %}
   <div class="alert alert-danger" role="alert" style="background-color: #ff7f70">
      Your Bid should be at least greater than the Highest Bid or the Base Price.
    </div>
   {% elif res == "High" %}
   <div class="alert alert-success" role="alert">
      Your Bid has been successfully placed for the product.
    </div>    
   {% endif %}
{% endblock %}

{% block body %}
    <h2>Listing : {{ product.title }}</h2>

    <div class="infoblock">
        <img src="{{ product.image_url }}" alt="{{ product.title }}">
        <div class="des">
           <h4>Owned by <span style="color: #3A00EF">{{ product.creator }}</span> </h4>
           Highest Bid: <span style="font-size: 21px; color: #3A00EF;">
            {% if highest_bid %} 
            {{ highest_bid }} $
            {% else %}
             None
            {% endif %}
           </span> 
           <br />
           Base Price: <span style="font-size: 21px; color: #3A00EF;">
            {{ product.price }} $
           </span>
           <br />
           <br />
           <h4>Description:</h4>
           {{ product.description }}
           <br />
           <br />
           Listed On:  {{ product.time }}
           <br />
           Category:  {{ product.category|capfirst }} 

           {% if user.is_authenticated %}
            {% if wish == False %}
            <form action="{% url 'addWish' %}" method="post" style="margin-top: 20px;">
               {% csrf_token %}
               <input type="hidden" name="p_id" value={{ product.id }}>
               <input type="Submit" value="Add to Wishlist" class="btn btn-danger" style="background-color: #EC84F6; border-color: #EC84F6">
            </form>
            {% else %}
            <form action="{% url 'removeWish' %}" method="post" style="margin-top: 20px;">
             {% csrf_token %}
             <input type="hidden" name="p_id" value={{ product.id }}>
             <input type="Submit" value="Remove from Wishlist" class="btn btn-danger"       style="background-color: #F74147; border-color: #F74147">
            </form>
            {% endif %}
           {% endif %}
        </div>
    </div>    
    
    {% if user.is_authenticated %}
    <div class="bidd">
       <h4 style="color: #1D358C">{{ count }} bid's so far Your Bid is the Next</h4>
       <form action="{% url 'bid' product.id %}" method="post">
         {% csrf_token %}
         {{ Bid }}
         <input type="Submit" value="Bid" class="btn btn-success" style="width: 80%;">
       </form>
    </div>
    {% endif %}
    
{% endblock %}
